{% extends "base.html" %}

{% block content %}
  <h1>Tools rent</h1>
  <p>Welcome to tools rent reservation page!</p>
  <p>Today we offer:</p>
  <ul>
    <li><strong>Manufacturers:</strong> {{ num_manufacturers }}</li>
    <li><strong>Categories:</strong> {{ num_category }}</li>
    <li><strong>Tools:</strong> {{ num_tool }}</li>
    <li><strong>Tools copies:</strong> {{ num_toolcopy }}</li>
    <li><strong>Tools copies available:</strong> {{ num_toolcopy_available }}</li>
  </ul>
  <p>Your visits: {{ num_visits }}</p>
{% endblock %}